
<h1>Welcome to your Dashboard</h1>

<div>
  <% if current_user.freelancer? %>
    <% if @projects.empty? %>
      <h1>No current projects</h1>
    <% else %>

    <% @projects.overdue_message.each do |project| %>
      <h2>Project:  <%= project.title %> is overdue!</h2>
    <% end %>


    <% @projects.deadline_message.each do |project| %>
      <h2>Project:  <%= project.title %> is due soon!</h2>
    <% end %>

  <h3> Total Projects: <%= @projects.length %> </h3>
    <ul>
      <li><%= @projects.complete.count %> Projects Completed</li>
      <li><%= @projects.in_progress.count %> Projects In Progress</li>
      <li><%= @projects.not_started.count %> Projects Not Started</li>
    </ul>

      <!--Show project function -->
      <% @projects.list_by_deadline.each do |project| %>
        <h4><%= link_to project.title, project_path(project), :class => "show_project", :'data-id' => project.id %></h4>
    </div>
      <% end %>
    <% end %>
  <% end %>
