<h1>Welcome to your Dashboard</h1>
<% if current_user? %>
  <%= link_to "Edit My Account", edit_user_registration_path(current_user) %>
    <% if current_user.freelancer? %>
      <%= link_to "My Projects", user_projects_path(current_user) if current_user%>
<% end %>
</div>
<% if @projects.empty? %>
  <h1>No current projects</h1>
<% else %>
  <% @projects.each do |project| %>
    <h4><%= link_to project.title, project_path(project)%></h4>
    <h5>Client: <%= project.client_name %> | Ticket # <%= project.ticket %> | Deadline: <%= project.deadline %></h5>
<% end %>
