<h2><%= @project.title %><h2>
<h4>Ticket Number #<%= @project.ticket %><h4>
<h4><%= @project.client_name %><h4>

<% @project.categories.each do |category| %>
  <strong><%= category.name %></strong>
<% end %>

<p><%= @project.description %><p>
<p>$<%= @project.budget %><p>
<p>Start Date: <%= @project.start_date %><p>
<p>Deadline: <%= @project.deadline %><p>
<p>Hours Currently Logged: <%= @project.time_log %> hours<p>
<p>Project Status <%= @project.status %><p>
<p>Invoice Sent? <%= @project.invoice_sent %><p>


<div>
  <% if current_user.admin? || current_user.freelancer? %>
    <%= link_to "Edit Project", edit_project_path %>
  <% end %>
</div>

<div>
  <%= link_to 'Delete This Project',@project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
