<!--Load projects function-->
<a href="#" class="js-next" data-id="<%=@category.id%>">Next Category</a>
<h1 class="categoryName"><%= @category.name %></h1>
<%= link_to 'Projects', projects_path(@category), :class => "load_projects" %><br>

<div id="projects_list">

</div>

<% if policy(@category).update? %>
  <p><%= button_to "Edit", edit_category_path, method: "get"%></p>
  <p><%= button_to "Delete", category_path, method: "delete"%></p>
<% else %>
  <p><%= link_to "Back", categories_path%></p>
<% end %>
